.profile-description{
    background-color: #262E36;
    padding: 20px;
   
}
.display-icon{
    height: 60px;
    width: 60px;
    border-radius: 10px;
    color: white;
    font-size: 40px;
    font-weight: 500;
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.user-name{
    font-size: 22px;
    font-weight: 600;
    color: white;
}
.no-decoration{
    text-decoration: none;
}